body{
  background-color: rgb(246,243,238);
  font-family:"游ゴシック体";
}

/*----------------------ナビゲーションバー---------------------*/
header img{
  width:80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



nav ul{
display: table;
margin: 0 auto;
padding: 0 ;
width: 30%;
text-align: center;
float:right;
}
nav li{
display: table-cell;
min-width: 100px;
}
nav a{
display: block;
width: 50%;
text-decoration: none;
color: #555;
padding-bottom: 5px;
}
nav li.top{
border-bottom: 3px solid #92D050;
}
nav li:hover{
color: #E7DA66;
border-bottom: 3px solid #F0E475;
}


/*--------------------------Profiel-------------------------------*/
 .profiel .img1{
  width: 200px;
  display:block;
  margin-top:200px;
  margin-left: auto;
  margin-right: auto;
}

.profiel .img2{
  width:400px;
  float:left;
  margin-left:250px;
}
.profiel2{
  margin-right: 15%;
  margin-left:300px;;
  padding-top:50px;
}

.prof{
  color: gray;
  margin-left: 30%;
  margin-right: 10%;
}

/*--------------------------skills-------------------------------*/




/*-----------------------Works-------------------------------------*/
#works p{
  text-align: center;
}
.works{
 width: 200px;
 display:block;
 margin-top:200px;
 margin-left: auto;
 margin-right: auto;
}

.meme{
  position: relative;
}
.meme p{
  position: absolute;
  color:gray;
  top:170px;
  left:320px;
}
.meme img{
  width:40%;
  float:left;
}

.amahako{
  position: relative;
}
.amahako p{
  position: absolute;
  color:gray;
  width:20%;
  top:170px;
  left:885px;
}
.amahako img{
  width: 40%;
}


.weddingpark{
  position: relative;
}
.weddingpark p{
  position: absolute;
  color:gray;
  top:170px;
  left:285px;
}
.weddingpark img{
  float:left;
  width: 40%;
}


.btn-stitch1 {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #297373;
  color: #FFF;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px #297373;
  border: dashed 1px #FFF;
  margin-top: 110px;
  margin-left: 300px;
}

.btn-stitch1:hover {
  border: dotted 1px #FFF;
}

.btn-stitch2 {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #FF8552;
  color: #FFF;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px #FF8552;
  border: dashed 1px #FFF;
  margin-top: 30px;
  margin-left: 260px;
}

.btn-stitch2:hover {
  border: dotted 1px #FFF;
}


footer{
        /*footerの装飾*/
        width: 100%;
        background-color: rgb(149,123,98);
        color: #fff;
        text-align: center;
        padding:5px 0;
        margin-top:200px;
    }
